In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
world = pd.read_csv('2018-2019 Happiness.csv')
airbnd = pd.read_csv('airbnb.csv')
salaries = pd.read_csv('salaries.csv')
websales= pd.read_csv('web_sales.csv')

In [ ]:
websales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60398 entries, 0 to 60397
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             60398 non-null  int64
 1   product                60398 non-null  object
 2   product_subcategory    60398 non-null  object
 3   OrderDateKey           60398 non-null  int64
 4   CalendarYear           60398 non-null  int64
 5   SalesTerritoryRegion   60398 non-null  object
 6   SalesTerritoryCountry  60398 non-null  object
 7   SalesOrderNumber       60398 non-null  object
 8   SalesAmount            60398 non-null  float64
 9   TaxAmt                 60398 non-null  float64
 10  Freight                60398 non-null  float64
dtypes: float64(3), int64(3), object(5)
memory usage: 5.1+ MB

In [ ]:
websales.SalesAmount

0        3578.2700
1        3399.9900
2        3399.9900
3         699.0982
4        3399.9900
           ...
60393      21.9800
60394       8.9900
60395      21.9800
60396     159.0000
60397       8.9900
Name: SalesAmount, Length: 60398, dtype: float64

In [ ]:
websales['SalesAmount']

0        3578.2700
1        3399.9900
2        3399.9900
3         699.0982
4        3399.9900
           ...
60393      21.9800
60394       8.9900
60395      21.9800
60396     159.0000
60397       8.9900
Name: SalesAmount, Length: 60398, dtype: float64

In [ ]:
airbnd.columns

Index(['Host Id', 'Host Since', 'Name', 'Neighbourhood', 'Property Type',
       'Review Scores Rating (bin)', 'Room Type', 'Zipcode', 'Beds',
       'Number of Records', 'Number Of Reviews', 'Price',
       'Review Scores Rating'],
      dtype='object')

In [ ]:
airbnd[['Property Type','Room Type', 'Zipcode' ]]

      Property Type        Room Type  Zipcode
0         Apartment  Entire home/apt  11249.0
1         Apartment     Private room  11206.0
2         Apartment     Private room  10032.0
3         Apartment  Entire home/apt  10024.0
4         Apartment     Private room  10036.0
...             ...              ...      ...
30473     Apartment  Entire home/apt  11101.0
30474     Apartment     Private room  11224.0
30475         Other     Private room  11206.0
30476     Apartment     Private room  10025.0
30477         House     Private room  11105.0

[30478 rows x 3 columns]

In [ ]:
salaries.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [ ]:
salaries [['experience_level','salary_in_usd','job_title']]

     experience_level  salary_in_usd                       job_title
0                  EX         212000           Data Science Director
1                  EX         190000           Data Science Director
2                  MI          43064  Business Intelligence Engineer
3                  MI          43064  Business Intelligence Engineer
4                  SE         245700       Machine Learning Engineer
...               ...            ...                             ...
8800               SE         412000                  Data Scientist
8801               MI         151000        Principal Data Scientist
8802               EN         105000                  Data Scientist
8803               EN         100000           Business Data Analyst
8804               SE          94665            Data Science Manager

[8805 rows x 3 columns]

In [ ]:
salaries ['salary_in_usd'].mean()

np.float64(149488.26564452017)

In [ ]:
salaries ['salary_in_usd'].max()
salaries ['salary_in_usd'].min()
salaries ['salary_in_usd'].sum()

np.int64(1316244179)

In [ ]:
salaries.max()

work_year                                        2023
experience_level                                   SE
employment_type                                    PT
job_title             Staff Machine Learning Engineer
salary                                       30400000
salary_currency                                   ZAR
salary_in_usd                                  615201
employee_residence                                 ZA
remote_ratio                                      100
company_location                                   ZA
company_size                                        S
dtype: object

In [ ]:
websales.max()

ProductKey                                      606
product                  Women's Mountain Shorts, S
product_subcategory                           Vests
OrderDateKey                               20140128
CalendarYear                                   2014
SalesTerritoryRegion                 United Kingdom
SalesTerritoryCountry                 United States
SalesOrderNumber                            SO75123
SalesAmount                                 3578.27
TaxAmt                                     286.2616
Freight                                     89.4568
dtype: object

In [ ]:
websales.mean(numeric_only = True)

ProductKey      4.375579e+02
OrderDateKey    2.012973e+07
CalendarYear    2.012902e+03
SalesAmount     4.860869e+02
TaxAmt          3.888695e+01
Freight         1.215222e+01
dtype: float64

In [ ]:
websales['SalesAmount'].std()

928.4898919809369

In [ ]:
websales['SalesAmount'].mean()

np.float64(486.0869105053147)

In [ ]:
airbnd['Beds'].std()

1.0153587174802678

In [ ]:
airbnd['Beds'].count()

np.int64(30393)

In [ ]:
airbnd.count()

Host Id                       30478
Host Since                    30475
Name                          30478
Neighbourhood                 30478
Property Type                 30475
Review Scores Rating (bin)    22155
Room Type                     30478
Zipcode                       30344
Beds                          30393
Number of Records             30478
Number Of Reviews             30478
Price                         30478
Review Scores Rating          22155
dtype: int64

In [ ]:
websales.describe()

,ProductKey,OrderDateKey,CalendarYear,SalesAmount,TaxAmt,Freight
count,60398.000000,6.039800e+04,60398.000000,60398.000000,60398.000000,60398.000000
mean,437.557932,2.012973e+07,2012.902298,486.086911,38.886954,12.152217
std,118.088390,4.745050e+03,0.477666,928.489892,74.279193,23.212248
min,214.000000,2.010123e+07,2010.000000,2.290000,0.183200,0.057300
25%,359.000000,2.013040e+07,2013.000000,7.950000,0.636000,0.198800
50%,479.000000,2.013071e+07,2013.000000,29.990000,2.399200,0.749800
75%,529.000000,2.013102e+07,2013.000000,539.990000,43.199200,13.499800
max,606.000000,2.014013e+07,2014.000000,3578.270000,286.261600,89.456800

In [ ]:
airbnd.describe(percentiles= [0,1,0.6, 0.9])

,Host Id,Review Scores Rating (bin),Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
count,3.047800e+04,22155.000000,30344.000000,30393.000000,30478.0,30478.000000,30478.000000,22155.000000
mean,1.273171e+07,90.738659,10584.854831,1.530089,1.0,12.018735,163.589737,91.993230
std,1.190270e+07,9.059519,921.299397,1.015359,0.0,21.980703,197.785454,8.850373
min,5.000000e+02,20.000000,1003.000000,0.000000,1.0,0.000000,10.000000,20.000000
0%,5.000000e+02,20.000000,1003.000000,0.000000,1.0,0.000000,10.000000,20.000000
50%,8.551693e+06,90.000000,10065.000000,1.000000,1.0,3.000000,125.000000,94.000000
60%,1.216061e+07,95.000000,11205.000000,1.000000,1.0,6.000000,150.000000,96.000000
90%,3.243044e+07,100.000000,11237.000000,3.000000,1.0,35.000000,275.000000,100.000000
100%,4.303307e+07,100.000000,99135.000000,16.000000,1.0,257.000000,10000.000000,100.000000
max,4.303307e+07,100.000000,99135.000000,16.000000,1.0,257.000000,10000.000000,100.000000

In [ ]:
websales.describe(include='object')

,product,product_subcategory,SalesTerritoryRegion,SalesTerritoryCountry,SalesOrderNumber
count,60398,60398,60398,60398,60398
unique,130,17,10,6,27659
top,Water Bottle - 30 oz.,Tires and Tubes,Australia,United States,SO72656
freq,4244,17332,13345,21344,8

In [ ]:
websales['product_subcategory'].value_counts(ascending=True)

product_subcategory
Bike Stands            249
Bike Racks             328
Vests                  562
Socks                  568
Hydration Packs        733
Cleaners               908
Shorts                1019
Gloves                1430
Fenders               2121
Touring Bikes         2167
Caps                  2190
Jerseys               3332
Mountain Bikes        4970
Helmets               6440
Bottles and Cages     7981
Road Bikes            8068
Tires and Tubes      17332
Name: count, dtype: int64

In [ ]:
airbnd[['Neighbourhood', 'Property Type']].value_counts()

Neighbourhood  Property Type
Manhattan      Apartment          15433
Brooklyn       Apartment           9740
Queens         Apartment           1659
Brooklyn       House               1202
Queens         House                522
Brooklyn       Loft                 502
Manhattan      Loft                 227
Bronx          Apartment            218
Manhattan      House                168
Bronx          House                110
Staten Island  House                 88
Brooklyn       Townhouse             79
               Bed & Breakfast       76
Manhattan      Bed & Breakfast       60
               Condominium           56
Staten Island  Apartment             52
Manhattan      Townhouse             45
Queens         Bed & Breakfast       36
Brooklyn       Condominium           30
Manhattan      Other                 23
Brooklyn       Dorm                  19
Queens         Loft                  17
Brooklyn       Other                 16
Queens         Townhouse              8
Bronx          Loft                   6
               Bed & Breakfast        6
Queens         Dorm                   6
               Other                  6
Manhattan      Dorm                   6
Queens         Boat                   5
               Condominium            5
               Camper/RV              5
               Villa                  4
Manhattan      Villa                  3
Queens         Bungalow               3
Brooklyn       Tent                   3
Bronx          Condominium            3
               Townhouse              2
Manhattan      Boat                   2
               Treehouse              2
Staten Island  Bed & Breakfast        2
Brooklyn       Treehouse              2
Staten Island  Townhouse              2
               Other                  2
Brooklyn       Camper/RV              1
               Villa                  1
               Chalet                 1
               Bungalow               1
               Boat                   1
               Lighthouse             1
Manhattan      Cabin                  1
               Castle                 1
               Camper/RV              1
               Hut                    1
               Tent                   1
Queens         Cabin                  1
               Hut                    1
Staten Island  Loft                   1
Name: count, dtype: int64

In [ ]:
airbnd.columns

Index(['Host Id', 'Host Since', 'Name', 'Neighbourhood', 'Property Type',
       'Review Scores Rating (bin)', 'Room Type', 'Zipcode', 'Beds',
       'Number of Records', 'Number Of Reviews', 'Price',
       'Review Scores Rating'],
      dtype='object')

In [ ]:
websales.columns

Index(['ProductKey', 'product', 'product_subcategory', 'OrderDateKey',
       'CalendarYear', 'SalesTerritoryRegion', 'SalesTerritoryCountry',
       'SalesOrderNumber', 'SalesAmount', 'TaxAmt', 'Freight'],
      dtype='object')

In [ ]:
websales[['product_subcategory', 'SalesTerritoryRegion']].value_counts()

product_subcategory  SalesTerritoryRegion
Tires and Tubes      Southwest               3346
                     Australia               3300
                     Canada                  2729
                     Northwest               2688
Road Bikes           Australia               2603
                                             ...
                     Central                    1
                     Northeast                  1
Touring Bikes        Southeast                  1
Vests                Northeast                  1
                     Southeast                  1
Name: count, Length: 149, dtype: int64

In [ ]:
salaries[['job_title','salary_in_usd', 'employee_residence']].value_counts()

job_title          salary_in_usd  employee_residence
Data Engineer      160000         US                    65
                   130000         US                    63
Applied Scientist  136000         US                    54
Data Scientist     160000         US                    48
Data Engineer      120000         US                    46
                                                        ..
AI Developer       120000         BA                     1
                   124000         US                     1
                   130000         US                     1
                   140000         US                     1
                   192000         US                     1
Name: count, Length: 3812, dtype: int64

In [ ]:
salaries.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')