In [2]:
import pandas as pd
import matplotlib.pyplot as plt
world = pd.read_csv('2018-2019 Happiness.csv') #Importing world hapiness dataset
airbnd = pd.read_csv('airbnb.csv')
salaries = pd.read_csv('salaries.csv')
websales= pd.read_csv('web_sales.csv')
eth = pd.read_csv('Ethereum Historical Data.csv', index_col= 'Date')

In [3]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8805 entries, 0 to 8804
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           8805 non-null   int64
 1   experience_level    8805 non-null   object
 2   employment_type     8805 non-null   object
 3   job_title           8805 non-null   object
 4   salary              8805 non-null   int64
 5   salary_currency     8805 non-null   object
 6   salary_in_usd       8805 non-null   int64
 7   employee_residence  8805 non-null   object
 8   remote_ratio        8805 non-null   int64
 9   company_location    8805 non-null   object
 10  company_size        8805 non-null   object
dtypes: int64(4), object(7)
memory usage: 756.8+ KB

In [4]:
airbnd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30478 entries, 0 to 30477
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Host Id                     30478 non-null  int64
 1   Host Since                  30475 non-null  object
 2   Name                        30478 non-null  object
 3   Neighbourhood               30478 non-null  object
 4   Property Type               30475 non-null  object
 5   Review Scores Rating (bin)  22155 non-null  float64
 6   Room Type                   30478 non-null  object
 7   Zipcode                     30344 non-null  float64
 8   Beds                        30393 non-null  float64
 9   Number of Records           30478 non-null  int64
 10  Number Of Reviews           30478 non-null  int64
 11  Price                       30478 non-null  int64
 12  Review Scores Rating        22155 non-null  float64
dtypes: float64(4), int64(4), object(5)
memory usage: 3.0+ MB

In [7]:
airbnd.isna().sum()

Host Id                          0
Host Since                       3
Name                             0
Neighbourhood                    0
Property Type                    3
Review Scores Rating (bin)    8323
Room Type                        0
Zipcode                        134
Beds                            85
Number of Records                0
Number Of Reviews                0
Price                            0
Review Scores Rating          8323
dtype: int64

In [10]:
airbnd['Review Scores Rating'].head(20)

0       NaN
1       NaN
2       NaN
3       NaN
4      96.0
5     100.0
6     100.0
7      94.0
8      90.0
9      96.0
10     98.0
11     93.0
12     91.0
13      NaN
14     97.0
15     95.0
16     99.0
17     93.0
18     85.0
19      NaN
Name: Review Scores Rating, dtype: float64

In [12]:
airbnd['Review Scores Rating'].isna()

0         True
1         True
2         True
3         True
4        False
         ...
30473     True
30474     True
30475     True
30476     True
30477     True
Name: Review Scores Rating, Length: 30478, dtype: bool

In [13]:
airbnd[airbnd['Review Scores Rating'].isna()]

/usr/local/lib/python3.11/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,26/06/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
13,2787,7/09/2008,Renovated and spacious townhome,Brooklyn,House,NaN,Private room,11223.0,1.0,1,0,68,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30473,43022976,31/08/2015,10 Mins to Time Square/two floors,Queens,Apartment,NaN,Entire home/apt,11101.0,5.0,1,0,300,NaN
30474,42993382,31/08/2015,"1BR ocean view & F,Q train st",Brooklyn,Apartment,NaN,Private room,11224.0,2.0,1,0,125,NaN
30475,43033067,31/08/2015,Amazing Private Room,Brooklyn,Other,NaN,Private room,11206.0,1.0,1,0,80,NaN
30476,43000991,31/08/2015,Charming private female room: UWS,Manhattan,Apartment,NaN,Private room,10025.0,1.0,1,0,35,NaN
30477,42999189,31/08/2015,Huge Beautiful Bedroom - Astoria,Queens,House,NaN,Private room,11105.0,1.0,1,0,80,NaN

In [15]:
airbnd['Zipcode'].notna()

0        True
1        True
2        True
3        True
4        True
         ...
30473    True
30474    True
30475    True
30476    True
30477    True
Name: Zipcode, Length: 30478, dtype: bool

In [16]:
airbnd[airbnd['Zipcode'].isna()]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
133,13654,16/04/2009,Room with a view in Central Harlem,Manhattan,Apartment,85.0,Private room,NaN,1.0,1,11,75,85.0
234,30990,11/08/2009,Stay in the Meatpacking District!,Manhattan,Apartment,95.0,Entire home/apt,NaN,1.0,1,109,249,95.0
333,47716,22/10/2009,$45 L train/ 1 bedroom Brooklyn,Brooklyn,Apartment,85.0,Private room,NaN,2.0,1,56,49,85.0
368,52677,9/11/2009,Columbus Avenue Apartment,Manhattan,Apartment,NaN,Private room,NaN,1.0,1,0,190,NaN
426,58366,29/11/2009,"Lincoln Center luxury condo,",Manhattan,Apartment,90.0,Entire home/apt,NaN,1.0,1,37,280,93.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28995,37248069,1/07/2015,Room on Prospect Park,Brooklyn,Apartment,NaN,Private room,NaN,2.0,1,0,75,NaN
29947,40585961,5/08/2015,Large Lower East Side 1 BDR,Manhattan,Apartment,NaN,Private room,NaN,1.0,1,0,85,NaN
30127,41425363,13/08/2015,Quaint Colonial with lots of charm,Queens,House,NaN,Entire home/apt,NaN,3.0,1,0,140,NaN
30183,41619645,16/08/2015,MyPlace2Beach,Queens,House,100.0,Entire home/apt,NaN,3.0,1,1,200,100.0
30462,42952645,30/08/2015,Waterfront Penthouse~5min > TimesSQ,Queens,Apartment,NaN,Private room,NaN,1.0,1,0,99,NaN

In [20]:
airbnd['Neighbourhood'].unique()

array(['Brooklyn', 'Manhattan', 'Queens', 'Bronx', 'Staten Island'],
      dtype=object)

In [22]:
airbnd['Room Type'].unique()

array(['Entire home/apt', 'Private room', 'Shared room'], dtype=object)

In [24]:
airbnd['Zipcode'].nunique()

188

In [28]:
websales['SalesTerritoryCountry'].unique()

array(['Canada', 'France', 'United States', 'Australia', 'United Kingdom',
       'Germany'], dtype=object)

In [31]:
websales['product_subcategory'].unique()

array(['Road Bikes', 'Mountain Bikes', 'Bottles and Cages',
       'Touring Bikes', 'Helmets', 'Tires and Tubes', 'Bike Stands',
       'Jerseys', 'Gloves', 'Fenders', 'Caps', 'Socks', 'Hydration Packs',
       'Vests', 'Cleaners', 'Bike Racks', 'Shorts'], dtype=object)

In [34]:
websales['product'].nunique()

130

In [37]:
airbnd[airbnd['Price'].between(100,200)]

/usr/local/lib/python3.11/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
3,500,26/06/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
5,1039,25/07/2008,Big Greenpoint 1BD w/ Skyline View,Brooklyn,Apartment,100.0,Entire home/apt,11222.0,1.0,1,4,149,100.0
10,2571,27/08/2008,THE PUTNAM,Brooklyn,Apartment,95.0,Entire home/apt,11221.0,2.0,1,14,170,98.0
16,2965,14/09/2008,Large Bedroom in 3-bedroom Apt.,Manhattan,Apartment,95.0,Private room,10025.0,1.0,1,52,145,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30467,42995294,31/08/2015,"Colorful, comfortable artsy 2 bdrm",Brooklyn,Apartment,NaN,Entire home/apt,11238.0,3.0,1,0,127,NaN
30468,18223173,31/08/2015,Lovely East Village Apartment,Manhattan,Apartment,NaN,Entire home/apt,10009.0,1.0,1,0,195,NaN
30469,43018396,31/08/2015,Cute East Village Studio Sept 8-16,Manhattan,Apartment,NaN,Entire home/apt,10009.0,1.0,1,0,105,NaN
30471,42959506,31/08/2015,Time Square! 2 Fully Furnished apt.,Manhattan,Apartment,NaN,Entire home/apt,10036.0,2.0,1,0,200,NaN
30474,42993382,31/08/2015,"1BR ocean view & F,Q train st",Brooklyn,Apartment,NaN,Private room,11224.0,2.0,1,0,125,NaN

In [40]:
airbnd[airbnd['Beds'].between(3,5)]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
3,500,26/06/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,26/06/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0
18,3227,26/09/2008,"Priv Apt,Garden,BBQ,A/C,BigTV,for 4",Manhattan,Apartment,85.0,Entire home/apt,10001.0,3.0,1,171,150,85.0
19,3226,26/09/2008,Great 3 Bed Apt Tribeca / Soho,Manhattan,Apartment,NaN,Entire home/apt,10013.0,3.0,1,0,700,NaN
28,3867,29/10/2008,3 bedroom apartment in Chinatown!,Manhattan,Apartment,80.0,Entire home/apt,10038.0,4.0,1,2,499,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30445,42952645,30/08/2015,3 Beds near Central Park /Lincoln C,Manhattan,Apartment,NaN,Entire home/apt,10023.0,3.0,1,0,599,NaN
30448,42897684,30/08/2015,Comfy Couch in my Living Room,Bronx,Apartment,NaN,Private room,10459.0,5.0,1,0,35,NaN
30449,42897684,30/08/2015,"Cozy, Comfortable and Convenient",Bronx,Apartment,NaN,Private room,10459.0,3.0,1,0,55,NaN
30467,42995294,31/08/2015,"Colorful, comfortable artsy 2 bdrm",Brooklyn,Apartment,NaN,Entire home/apt,11238.0,3.0,1,0,127,NaN
30473,43022976,31/08/2015,10 Mins to Time Square/two floors,Queens,Apartment,NaN,Entire home/apt,11101.0,5.0,1,0,300,NaN

In [41]:
airbnd[airbnd['Beds'].between(3,5)]['Beds'].value_counts()

Beds
3.0    2071
4.0     783
5.0     284
Name: count, dtype: int64

In [42]:
airbnd[airbnd['Price'].between(100,200) & airbnd['Beds'].between(3,5) ]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
3,500,26/06/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
18,3227,26/09/2008,"Priv Apt,Garden,BBQ,A/C,BigTV,for 4",Manhattan,Apartment,85.0,Entire home/apt,10001.0,3.0,1,171,150,85.0
36,4488,21/11/2008,Sunny & Bright Harlem Home,Manhattan,Apartment,95.0,Entire home/apt,10027.0,3.0,1,6,125,97.0
39,5871,31/12/2008,Bergen's Best Short Stay 2!,Brooklyn,Apartment,90.0,Entire home/apt,11213.0,3.0,1,12,180,93.0
40,5871,31/12/2008,Bergen's Best!,Brooklyn,Apartment,95.0,Entire home/apt,11213.0,3.0,1,5,180,95.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30359,42481372,25/08/2015,West Village/Triplex/Sleeps 6,Manhattan,Apartment,NaN,Entire home/apt,10014.0,3.0,1,0,175,NaN
30386,42602208,26/08/2015,Apartment off Forest Park,Queens,House,NaN,Entire home/apt,11418.0,3.0,1,0,150,NaN
30396,42684774,27/08/2015,Luxury 2 Bedroom /Sleep 6 / Doorman,Manhattan,Apartment,NaN,Entire home/apt,10010.0,3.0,1,0,175,NaN
30398,42679452,27/08/2015,Private Patio Midtown Apt Sleep 5,Manhattan,Apartment,NaN,Entire home/apt,10016.0,3.0,1,0,175,NaN
30467,42995294,31/08/2015,"Colorful, comfortable artsy 2 bdrm",Brooklyn,Apartment,NaN,Entire home/apt,11238.0,3.0,1,0,127,NaN

In [46]:
airbnd[(airbnd['Property Type'] == 'Apartments') & (airbnd['Neighbourhood'] == 'Brookklyn')]

Empty DataFrame
Columns: [Host Id, Host Since, Name, Neighbourhood, Property Type, Review Scores Rating (bin), Room Type, Zipcode, Beds, Number of Records, Number Of Reviews, Price, Review Scores Rating]
Index: []

In [48]:
airbnd[(airbnd['Property Type'] == 'Apartments') & (airbnd['Neighbourhood'] == 'Brookklyn') & (airbnd['Price']< 100)]

Empty DataFrame
Columns: [Host Id, Host Since, Name, Neighbourhood, Property Type, Review Scores Rating (bin), Room Type, Zipcode, Beds, Number of Records, Number Of Reviews, Price, Review Scores Rating]
Index: []

In [50]:
salaries['job_title'].value_counts()

job_title
Data Engineer                2062
Data Scientist               1852
Data Analyst                 1322
Machine Learning Engineer     908
Applied Scientist             258
                             ...
Marketing Data Engineer         1
Manager Data Management         1
Data Science Tech Lead          1
Principal Data Architect        1
Cloud Data Architect            1
Name: count, Length: 124, dtype: int64

In [52]:
salaries[salaries['job_title'] == 'Data Engineer']

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
14,2023,MI,FT,Data Engineer,133000,USD,133000,US,0,US,M
15,2023,MI,FT,Data Engineer,58300,USD,58300,US,0,US,M
18,2023,SE,FT,Data Engineer,300000,USD,300000,US,100,US,M
19,2023,SE,FT,Data Engineer,195000,USD,195000,US,100,US,M
50,2023,SE,FT,Data Engineer,205500,USD,205500,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
8763,2020,MI,FT,Data Engineer,110000,USD,110000,US,100,US,L
8768,2021,SE,FT,Data Engineer,65000,EUR,76833,RO,50,GB,S
8789,2021,MI,FT,Data Engineer,38400,EUR,45391,NL,100,NL,L
8793,2020,MI,FT,Data Engineer,130800,USD,130800,ES,100,US,M
8798,2021,MI,FT,Data Engineer,24000,EUR,28369,MT,50,MT,L

In [56]:
salaries[(salaries['job_title'] == 'Data Engineer') | (salaries['job_title'] == 'Data Analyst')]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
14,2023,MI,FT,Data Engineer,133000,USD,133000,US,0,US,M
15,2023,MI,FT,Data Engineer,58300,USD,58300,US,0,US,M
16,2023,SE,FT,Data Analyst,145640,USD,145640,US,0,US,M
17,2023,SE,FT,Data Analyst,84400,USD,84400,US,0,US,M
18,2023,SE,FT,Data Engineer,300000,USD,300000,US,100,US,M
...,...,...,...,...,...,...,...,...,...,...,...
8786,2021,MI,FT,Data Analyst,75000,USD,75000,US,0,US,L
8787,2021,MI,FT,Data Analyst,62000,USD,62000,US,0,US,L
8789,2021,MI,FT,Data Engineer,38400,EUR,45391,NL,100,NL,L
8793,2020,MI,FT,Data Engineer,130800,USD,130800,ES,100,US,M
8798,2021,MI,FT,Data Engineer,24000,EUR,28369,MT,50,MT,L

In [61]:
salaries[((salaries['job_title'] == 'Data Engineer')
  | (salaries['job_title'] == 'Data Analyst'))
 & (salaries['salary_in_usd'] > 2000000)]['job_title'].value_counts()

Series([], Name: count, dtype: int64)

In [62]:
salaries[((salaries['job_title'] == 'Data Engineer')
  | (salaries['job_title'] == 'Data Analyst'))
 & (salaries['salary_in_usd'] > 2000000)]['job_title'].value_counts()

Series([], Name: count, dtype: int64)

In [63]:
airbnd[airbnd['Property Type'].isin(['Bed & Breakfast', 'Loft', 'Cabin', 'Villa', 'Lighthouse'])]

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
50,5926,2/01/2009,Nice Apt Near Columbia University,Manhattan,Bed & Breakfast,85.0,Private room,10031.0,1.0,1,68,55,86.0
59,7351,2/02/2009,2 Floor Loft room in Artist Studio,Brooklyn,Loft,80.0,Private room,11215.0,2.0,1,3,74,80.0
60,7351,2/02/2009,Spacious Loft Room in Artist Studio,Brooklyn,Loft,NaN,Private room,11215.0,2.0,1,0,74,NaN
61,7351,2/02/2009,Spacious room in Huge artist Loft,Brooklyn,Loft,100.0,Private room,11215.0,1.0,1,2,84,100.0
92,8057,17/02/2009,HUGE MODERN LUXURY-2bed/2bath+patio,Manhattan,Loft,100.0,Entire home/apt,10009.0,2.0,1,5,600,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30373,42518458,25/08/2015,Williamsburg luxury loft!King Room,Brooklyn,Loft,NaN,Private room,11206.0,2.0,1,0,145,NaN
30377,42520959,25/08/2015,1Bedroom in HUGE Times Square LOFT!,Manhattan,Loft,NaN,Private room,10018.0,1.0,1,0,200,NaN
30378,42518458,25/08/2015,Williamsburg Luxury Loft!??Bed Top,Brooklyn,Loft,100.0,Shared room,11206.0,1.0,1,1,55,100.0
30440,42918586,30/08/2015,1800 sq ft studio for shoots,Brooklyn,Loft,NaN,Entire home/apt,11215.0,1.0,1,0,850,NaN
30461,42917787,30/08/2015,"East Village, First floor. new bg",Manhattan,Bed & Breakfast,NaN,Private room,10009.0,1.0,1,0,82,NaN

In [64]:
airbnd[~airbnd['Property Type'].isin(['Bed & Breakfast', 'Loft', 'Cabin', 'Villa', 'Lighthouse'])]

/usr/local/lib/python3.11/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,26/06/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,26/06/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30473,43022976,31/08/2015,10 Mins to Time Square/two floors,Queens,Apartment,NaN,Entire home/apt,11101.0,5.0,1,0,300,NaN
30474,42993382,31/08/2015,"1BR ocean view & F,Q train st",Brooklyn,Apartment,NaN,Private room,11224.0,2.0,1,0,125,NaN
30475,43033067,31/08/2015,Amazing Private Room,Brooklyn,Other,NaN,Private room,11206.0,1.0,1,0,80,NaN
30476,43000991,31/08/2015,Charming private female room: UWS,Manhattan,Apartment,NaN,Private room,10025.0,1.0,1,0,35,NaN
30477,42999189,31/08/2015,Huge Beautiful Bedroom - Astoria,Queens,House,NaN,Private room,11105.0,1.0,1,0,80,NaN

In [66]:
airbnd['City'] = 'New York'

In [71]:
airbnd

/usr/local/lib/python3.11/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number of Records,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,1,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,1,28,NaN
3,500,26/06/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,1,0,199,NaN
4,500,26/06/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,1,39,549,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30473,43022976,31/08/2015,10 Mins to Time Square/two floors,Queens,Apartment,NaN,Entire home/apt,11101.0,5.0,1,0,300,NaN
30474,42993382,31/08/2015,"1BR ocean view & F,Q train st",Brooklyn,Apartment,NaN,Private room,11224.0,2.0,1,0,125,NaN
30475,43033067,31/08/2015,Amazing Private Room,Brooklyn,Other,NaN,Private room,11206.0,1.0,1,0,80,NaN
30476,43000991,31/08/2015,Charming private female room: UWS,Manhattan,Apartment,NaN,Private room,10025.0,1.0,1,0,35,NaN
30477,42999189,31/08/2015,Huge Beautiful Bedroom - Astoria,Queens,House,NaN,Private room,11105.0,1.0,1,0,80,NaN

In [70]:
airbnd.drop(labels = 'City' , axis = 1, inplace = True)

In [72]:
airbnd['Number of Records'].value_counts()

Number of Records
1    30478
Name: count, dtype: int64

In [73]:
airbnd.drop(labels = 'Number of Records' , axis = 1, inplace = True)

In [74]:
airbnd

/usr/local/lib/python3.11/dist-packages/google/colab/_dataframe_summarizer.py:88: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  cast_date_col = pd.to_datetime(column, errors="coerce")

,Host Id,Host Since,Name,Neighbourhood,Property Type,Review Scores Rating (bin),Room Type,Zipcode,Beds,Number Of Reviews,Price,Review Scores Rating
0,5162530,NaN,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,NaN,Entire home/apt,11249.0,1.0,0,145,NaN
1,33134899,NaN,"Sunny, Private room in Bushwick",Brooklyn,Apartment,NaN,Private room,11206.0,1.0,1,37,NaN
2,39608626,NaN,Sunny Room in Harlem,Manhattan,Apartment,NaN,Private room,10032.0,1.0,1,28,NaN
3,500,26/06/2008,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,NaN,Entire home/apt,10024.0,3.0,0,199,NaN
4,500,26/06/2008,Trendy Times Square Loft,Manhattan,Apartment,95.0,Private room,10036.0,3.0,39,549,96.0
...,...,...,...,...,...,...,...,...,...,...,...,...
30473,43022976,31/08/2015,10 Mins to Time Square/two floors,Queens,Apartment,NaN,Entire home/apt,11101.0,5.0,0,300,NaN
30474,42993382,31/08/2015,"1BR ocean view & F,Q train st",Brooklyn,Apartment,NaN,Private room,11224.0,2.0,0,125,NaN
30475,43033067,31/08/2015,Amazing Private Room,Brooklyn,Other,NaN,Private room,11206.0,1.0,0,80,NaN
30476,43000991,31/08/2015,Charming private female room: UWS,Manhattan,Apartment,NaN,Private room,10025.0,1.0,0,35,NaN
30477,42999189,31/08/2015,Huge Beautiful Bedroom - Astoria,Queens,House,NaN,Private room,11105.0,1.0,0,80,NaN

In [76]:
websales

,ProductKey,product,product_subcategory,OrderDateKey,CalendarYear,SalesTerritoryRegion,SalesTerritoryCountry,SalesOrderNumber,SalesAmount,TaxAmt,Freight
0,310,"Road-150 Red, 62",Road Bikes,20101229,2010,Canada,Canada,SO43697,3578.2700,286.2616,89.4568
1,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,France,France,SO43698,3399.9900,271.9992,84.9998
2,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,Northwest,United States,SO43699,3399.9900,271.9992,84.9998
3,336,"Road-650 Black, 62",Road Bikes,20101229,2010,Southwest,United States,SO43700,699.0982,55.9279,17.4775
4,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,Australia,Australia,SO43701,3399.9900,271.9992,84.9998
...,...,...,...,...,...,...,...,...,...,...,...
60393,485,Fender Set - Mountain,Fenders,20140128,2014,Canada,Canada,SO75122,21.9800,1.7584,0.5495
60394,225,AWC Logo Cap,Caps,20140128,2014,Canada,Canada,SO75122,8.9900,0.7192,0.2248
60395,485,Fender Set - Mountain,Fenders,20140128,2014,Canada,Canada,SO75123,21.9800,1.7584,0.5495
60396,486,All-Purpose Bike Stand,Bike Stands,20140128,2014,Canada,Canada,SO75123,159.0000,12.7200,3.9750
60397,225,AWC Logo Cap,Caps,20140128,2014,Canada,Canada,SO75123,8.9900,0.7192,0.2248

In [78]:
websales['Sales with Tax Freight'] = websales['SalesAmount'] + websales['TaxAmt'] + websales['Freight']

In [79]:
websales

,ProductKey,product,product_subcategory,OrderDateKey,CalendarYear,SalesTerritoryRegion,SalesTerritoryCountry,SalesOrderNumber,SalesAmount,TaxAmt,Freight,Sales with Tax Freight
0,310,"Road-150 Red, 62",Road Bikes,20101229,2010,Canada,Canada,SO43697,3578.2700,286.2616,89.4568,3953.9884
1,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,France,France,SO43698,3399.9900,271.9992,84.9998,3756.9890
2,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,Northwest,United States,SO43699,3399.9900,271.9992,84.9998,3756.9890
3,336,"Road-650 Black, 62",Road Bikes,20101229,2010,Southwest,United States,SO43700,699.0982,55.9279,17.4775,772.5036
4,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,Australia,Australia,SO43701,3399.9900,271.9992,84.9998,3756.9890
...,...,...,...,...,...,...,...,...,...,...,...,...
60393,485,Fender Set - Mountain,Fenders,20140128,2014,Canada,Canada,SO75122,21.9800,1.7584,0.5495,24.2879
60394,225,AWC Logo Cap,Caps,20140128,2014,Canada,Canada,SO75122,8.9900,0.7192,0.2248,9.9340
60395,485,Fender Set - Mountain,Fenders,20140128,2014,Canada,Canada,SO75123,21.9800,1.7584,0.5495,24.2879
60396,486,All-Purpose Bike Stand,Bike Stands,20140128,2014,Canada,Canada,SO75123,159.0000,12.7200,3.9750,175.6950
60397,225,AWC Logo Cap,Caps,20140128,2014,Canada,Canada,SO75123,8.9900,0.7192,0.2248,9.9340

In [80]:
eth

           Coin    Price     Open     High      Low     Vol. Change %
Date
10/02/2024  ETH  2508.31  2486.24  2514.83  2483.50  504.80K    0.89%
9/02/2024   ETH  2486.24  2419.56  2522.96  2419.16  540.92K    2.76%
8/02/2024   ETH  2419.56  2424.66  2461.00  2412.01  350.33K   -0.21%
7/02/2024   ETH  2424.64  2372.65  2443.71  2354.46  355.40K    2.19%
6/02/2024   ETH  2372.65  2301.83  2390.53  2299.24  381.23K    3.08%
...         ...      ...      ...      ...      ...      ...      ...
5/01/2020   ETH   135.59   134.32   138.33   134.32   12.19M    0.94%
4/01/2020   ETH   134.33   134.30   135.57   132.76   11.16M    0.04%
3/01/2020   ETH   134.27   127.19   134.86   126.05   15.67M    5.56%
2/01/2020   ETH   127.19   130.75   130.77   126.74   11.45M   -2.72%
1/01/2020   ETH   130.75   129.21   132.97   128.81   10.35M    1.19%

[1502 rows x 7 columns]

In [81]:
eth['Volatility'] = eth['High'] - eth['Low']

In [82]:
eth

,Coin,Price,Open,High,Low,Vol.,Change %,Volatility
Date,,,,,,,,
10/02/2024,ETH,2508.31,2486.24,2514.83,2483.50,504.80K,0.89%,31.33
9/02/2024,ETH,2486.24,2419.56,2522.96,2419.16,540.92K,2.76%,103.80
8/02/2024,ETH,2419.56,2424.66,2461.00,2412.01,350.33K,-0.21%,48.99
7/02/2024,ETH,2424.64,2372.65,2443.71,2354.46,355.40K,2.19%,89.25
6/02/2024,ETH,2372.65,2301.83,2390.53,2299.24,381.23K,3.08%,91.29
...,...,...,...,...,...,...,...,...
5/01/2020,ETH,135.59,134.32,138.33,134.32,12.19M,0.94%,4.01
4/01/2020,ETH,134.33,134.30,135.57,132.76,11.16M,0.04%,2.81
3/01/2020,ETH,134.27,127.19,134.86,126.05,15.67M,5.56%,8.81
2/01/2020,ETH,127.19,130.75,130.77,126.74,11.45M,-2.72%,4.03
1/01/2020,ETH,130.75,129.21,132.97,128.81,10.35M,1.19%,4.16

In [88]:
websales['Sales Type'] = websales['product_subcategory'] +' '+ websales['SalesTerritoryCountry']

In [86]:
websales

,ProductKey,product,product_subcategory,OrderDateKey,CalendarYear,SalesTerritoryRegion,SalesTerritoryCountry,SalesOrderNumber,SalesAmount,TaxAmt,Freight,Sales with Tax Freight,Sales Type
0,310,"Road-150 Red, 62",Road Bikes,20101229,2010,Canada,Canada,SO43697,3578.2700,286.2616,89.4568,3953.9884,Road BikesCanada
1,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,France,France,SO43698,3399.9900,271.9992,84.9998,3756.9890,Mountain BikesFrance
2,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,Northwest,United States,SO43699,3399.9900,271.9992,84.9998,3756.9890,Mountain BikesUnited States
3,336,"Road-650 Black, 62",Road Bikes,20101229,2010,Southwest,United States,SO43700,699.0982,55.9279,17.4775,772.5036,Road BikesUnited States
4,346,"Mountain-100 Silver, 44",Mountain Bikes,20101229,2010,Australia,Australia,SO43701,3399.9900,271.9992,84.9998,3756.9890,Mountain BikesAustralia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60393,485,Fender Set - Mountain,Fenders,20140128,2014,Canada,Canada,SO75122,21.9800,1.7584,0.5495,24.2879,FendersCanada
60394,225,AWC Logo Cap,Caps,20140128,2014,Canada,Canada,SO75122,8.9900,0.7192,0.2248,9.9340,CapsCanada
60395,485,Fender Set - Mountain,Fenders,20140128,2014,Canada,Canada,SO75123,21.9800,1.7584,0.5495,24.2879,FendersCanada
60396,486,All-Purpose Bike Stand,Bike Stands,20140128,2014,Canada,Canada,SO75123,159.0000,12.7200,3.9750,175.6950,Bike StandsCanada
60397,225,AWC Logo Cap,Caps,20140128,2014,Canada,Canada,SO75123,8.9900,0.7192,0.2248,9.9340,CapsCanada